<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>tech space</title>
      <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  </head>
  <body>
    <!--JUMBOTRON-->
    <div class="jumbotron">
      <div class="container">
        <h1>TechSpace</h1>
        <p>dev events in your area!</p>
      </div>
    </div>
  <!--NAV BAR-->
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header col-md-6">
      <!-- SEARCH FORM AND SUBMIT  -->
      <form class="navbar-form navbar-middle" role="search">
        <div class="form-group">
          <!--button to trigger create new event modal-->
          <button type="button" id="createNewEventBtn" class="btn btn-primary btn-md" data-toggle="modal" data-target="#newEventModal">
            +
          </button>
          <input type="text" class="form-control" placeholder="Search">
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </form>
      <!-- Modal -->
      <div class="modal fade" id="newEventModal" tabindex="-1" role="dialog" aria-labelledby="newEventModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <legend class="modal-title" id="newEventModalLabel">Create a New Event</legend>
            </div>
            <div class="modal-body">
              <form class="form-horizontal">
                <fieldset>
                  <!-- Text input for Event Name-->
                  <div class="form-group">
                    <label class="col-md-4 control-label" for="name">Event Name</label>
                    <div class="col-md-6">
                      <input id="name" name="eventName" type="text" value="JavaScript for Beginners" class="form-control input-md" required="">
                    </div>
                  </div>
                  <!-- Text input for location-->
                  <div class="form-group">
                    <label class="col-md-4 control-label" for="eventLocation">Location</label>
                    <div class="col-md-6">
                      <input id="eventLocation" name="location" type="text" value="Golden Gate Park San Francisco,CA" class="form-control input-md">
                    </div>
                  </div>
                  <!-- Text input for poster's email-->
                  <div class="form-group">
                    <label class="col-md-4 control-label" for="posterEmail">Your email address</label>
                    <div class="col-md-6">
                      <input id="posterEmail" name="posterEmail" type="text" value="mwiley322@gmail.com" class="form-control input-md">
                    </div>
                  </div>
                  <!-- Text input for date-->
                  <div class="form-group">
                    <div class="row">
                      <label for="eventDate" class="col-md-4 control-label">Event Date and Time</label>
                      <div class="col-md-4">
                        <input class="form-control" type="date" name="date" value="2017-08-19" id="eventDate">
                      </div>
                  <!-- Text input for time-->
                      <div class="col-md-4">
                        <input id="eventTime" name="time" type="text" value="4:00PM" class="form-control input-md">
                      </div>
                    </div>
                  </div>
                  <!-- Text input for time-->
                  <div class="form-group">
                    <label class="col-md-4 control-label" for="externalResource">External Links for Event</label>
                    <div class="col-md-4">
                      <input id="externalResource" name="externalResource" type="text" value="www.facebook.com" class="form-control input-md">
                    </div>
                  </div>
                  <!-- file input for event image-->
                  <div class="form-group">
                    <label for="imageUrl" class="col-md-4 control-label">Event Image Upload</label>
                      <input type="file" class="col-md-4" id="imageUrl" name="imageUrl">
                  </div>
                  <!-- Textarea for description-->
                  <div class="form-group">
                    <label class="col-md-9 control-label" for="eventDescription">Event Description</label><br>
                    <div class="col-md-9">
                      <textarea class="form-control" id="eventDescription" name="description" placeholder="What is the event about?"></textarea>
                    </div>
                  </div>
                </fieldset>
            <div class="form-group modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
              <button id="createEvent" name="singlebutton" class="btn btn-primary" data-dismiss="modal">Submit</button>
            </div>
          </div>
      </form>
        </div>
      </div>
  </div>
  </nav>
  <!-- EVENT BOXES -->
  <div class="container">
  <div class="col-lg-9 col-md-9 col-xs-12 eventContainer">
    <!--event info displayed here-->
  </div>
  <!--SIDE BAR -->
    <div class="col-lg-3 col-md-3 sidebar">
      <p> Content </p>
    </div>
  </div>
  </body>
  <!-- VENDOR SCRIPTS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="../scripts/app.js"></script>
</html>
