.jumbotron {
  height: 12vw;
}

.mainDisplay {
  margin-left: 80px;
}
.eventContainer {
  overflow: scroll;
  height: 40vw;
  margin-bottom: 5vw;
}

li {
  list-style: none;
}

button:focus {
  outline: 0 !important;
}

ul.ui-autocomplete {
    z-index: 1100;
}

.thumbnail {
  max-height: 15vw;
}

.sideSpace {
  border: solid 1px #ddd;
  border-radius: 5px;
  margin-left: 30px;
  height: 40vw;
}

#createNewEventBtn {
  margin: 10px 15px;
}

#map {
  height:215px;
}
.controls {
   margin-top: 10px;
   border: 1px solid transparent;
   border-radius: 2px 0 0 2px;
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   height: 32px;
   outline: none;
   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}
#pac-input:focus {
  border-color: #4d90fe;
}
.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 10px;
  font-weight: 300;
}
