.jumbotron {
  height: 12vw;
}

.eventContainer {
  overflow: scroll;
  height: 40vw;
  margin-bottom: 5vw;
}

.sidebar {
  border: solid 1px #ddd;
  border-radius: 5px;
  height: 40vw;
  position: fixed;
}

#datepicker {
  border: solid 1px #ddd;
  border-radius: 5px;
  margin-top: .5vw;
}
